<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://bootswatch.com/3/cosmo/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse container-fluid">
            <div class="container">
                <div class="navbar-header">               
                    <a class="navbar-brand" href="#">My Product data</a>                   
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
            @RenderBody()
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
